{% load static %}
{% include 'base.html' with title="Регистрация" hrefs6="active" %}

<link rel="stylesheet" href="{% static '/css/registration.css' %}" media="screen">


{% block content %}
<h1>{{title}}</h1>


<form method="post" class="decor">
    {% csrf_token %}
    <div class="buttons_reg">
        <div class="button_reg" id="left" onclick="change(1)"><div class="r_l_divs" id="left_div">Вход</div></div>
        <div class="button_reg " id="right" onclick="change(2)"><div class="r_l_divs active_button" id="right_div">Регистрация</div></div>
    </div>
    
    <div class="form-inner" id="registr">
        {% for f in form %}
        <label class="form-label" for="{{ f.id_for_label }}"></label>{{ f }}
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button class="submit" type="submit">Регистрация</button>
    </div>

</form>

{% endblock %}


<!-- 
<form class="decor" method="POST" enctype='multipart/form-data'> 
    {% csrf_token %}
    <div class="buttons_reg">
        <div class="button_reg" id="left" onclick="change(1)"><div class="r_l_divs active_button" id="left_div">Вход</div></div>
        <div class="button_reg" id="right" onclick="change(2)"><div class="r_l_divs" id="right_div">Регистрация</div></div>
    </div>
    
    <div class="form-inner" id="enter">
        <div class="error" id="error"></div>
        <input type="user" id="clear_left" value='' name="name_enter" placeholder="Имя пользователя">
        <input type="password" name="password_enter" id="password" value="" placeholder="Пароль">
        <input type="submit" value="Отправить">
    </div>

    <div class="form-inner nons" id="registr">
        <div class="error" id="error_reg"></div>
        <input type="user" id="clear_right" value='' name="name_reg" placeholder="Имя пользователя">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password_reg" id="password_1" value="" placeholder="Пароль">
        <input type="password" name="password_1" id="password_2" value="" placeholder="Повторный пароль">
        <input type="submit" value="Отправить">
    </div>
</form> -->

<script>
    let url = "{% url 'Registration' %}";
</script>


<script type="text/javascript" src="{% static 'scripts/registration.js' %}"></script>
